* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
  display: flex;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: auto;
  padding: 40px 30px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 800;
}

.todo-app img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 30px;
  margin-bottom: 25px;
  height: 50px;
}

.row button {
  margin-bottom: 50px;
}

.row button,
.del-done-btn,
.del-btn {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #ff5945;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 40px;
}

#list-container {
  max-height: 100px;
  overflow-y: visible;
  overflow-x: auto;
}

#list-container li {
  list-style: none;
  font-size: 17px;
  font-weight: 700;
  padding: 0 0 0 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#list-container li::before {
  content: "";
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-image: url(images/unchecked-mark.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
  opacity: 0.4;
}

#list-container li.checked p {
  color: #555;
  text-decoration: line-through;
}

#list-container li.checked::before {
  background-image: url(images/check-mark.png);
  width: 22px;
  height: 22px;
  left: 12px;
  top: 12px;
  opacity: 1;
}

#list-container span {
  font-size: 22px;
  color: #555;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

#list-container span:hover {
  background: #edeef0;
}

.del-btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  gap: 20px;
  flex-wrap: wrap;
}

.del-done-btn,
.del-btn {
  width: 191px;
}

@media (min-height: 710px) {
  #list-container {
    max-height: 150px;
  }
}

@media (min-width: 500px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 50px;
  }

  .row input {
    flex: 1;
    background: transparent;
    padding: 10px;
    margin-bottom: 0;
  }

  .row button {
    margin-bottom: 0;
  }

  .del-btn-container {
    flex-direction: row;
  }
}

@media (min-height: 800px) {
  #list-container {
    max-height: 200px;
  }
}

@media (min-height: 850px) {
  #list-container {
    max-height: 250px;
  }
}
